<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg" href="{% static 'weather/icon.svg' %}">

    <title>Forecast Site</title>
    <meta name="description" content="See weather forecast">
    <meta property="og:title" content="Countdown Timers">
    <meta property="og:type" content="website">
    <meta property="og:description" content="See weather forecast">

    <link rel="preload" href="{% static 'weather/style.css' %}" as="style">
    <link rel="preload" href="{% static 'weather/main.js' %}" as="script" />

    <link rel="stylesheet" href="{% static 'weather/style.css' %}">
  </head>
  <body>
    <div id="app">
      <header>
        <form method="GET" action="{% url 'weather:city' %}">
          <label for="city">Enter a city name</label>
          <input type="search" name="city" id="city">
          <button type="submit">Search</button>
        </form>
      </header>

      <main>
        {% block main %}{% endblock %}
      </main>
    </div>

    <script defer type="module" src="{% static 'weather/main.js' %}"></script>
  </body>
</html>
