<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="icon" type="image/svg" href="/icon.svg" /> -->

    <title>Forecast Site</title>
    <meta name="description" content="See weather forecast" />
    <meta property="og:title" content="Countdown Timers" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="See weather forecast" />

    <!-- <link rel="preload" href="/src/style.css" as="style" /> -->
    <!-- <link rel="preload" href="/src/main.ts" as="script" /> -->

    <!-- <link rel="stylesheet" href="/src/style.css" /> -->
  </head>
  <body>
    <div id="app">
      <header>
        <form method="GET">
          <label id="city">Enter a city name</label>
          <input type="search" id="city">
          <button type="submit">Search</button>
        </form>
      </header>

      <main>
        {% if city_name %}
          <h1>{{ city_name }}</h1>
        {% endif %}
        <p>Showing weather</p>
      </main>
    </div>

    <!-- <script type="module" src="/src/main.ts"></script> -->
  </body>
</html>
